<div class="main-container" style="display: flex; width: 100%; height: 100%; justify-content: center; flex-direction: column;">
  <h1 mat-dialog-title class="dialog-title" style="font-size: 1.5rem; text-align: center;">AGGIUNGI MODULO</h1>
  <mat-dialog-content style="display: flex; flex-direction: column; row-gap: 2rem; margin-top: 6rem;">
    <div class="attivita-form" [formGroup] = "moduloForm" style="display: flex; row-gap: 1.5rem; flex-direction: column; margin-top: 0;">
      <div class="form-title">Dati generali</div>
      <div style="width: 100%; display: flex; column-gap: 4rem;">
        <mat-form-field style="max-height: 1rem; max-width: 16rem;" appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Nome" [errorStateMatcher]="matcher" formControlName="nome">
          @if (this.moduloForm.get('nome')?.hasError('required')) {
            <mat-error>Nome <strong>richiesto</strong></mat-error>
          }
          @if (this.moduloForm.get('nome')?.hasError('minlength')) {
            <mat-error>Minimo <strong>5 caratteri</strong></mat-error>
          }
        </mat-form-field>

        <mat-form-field style="max-height: 1rem; max-width: 16rem;" appearance="outline">
          <mat-label>Descrizione</mat-label>
          <input matInput placeholder="Descrizione" [errorStateMatcher]="matcher" formControlName="descrizione">
          @if (this.moduloForm.get('descrizione')?.hasError('required')) {
            <mat-error>Descrizione <strong>richiesta</strong></mat-error>
          }
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions style="display: flex; width: 100%; justify-content: space-between;">
    <button class="annulla-button" mat-button (click)="onNoClick()">Annulla</button>
    <button mat-button [mat-dialog-close]="data.idCorso" (click)="create()" cdkFocusInitial [disabled]="!this.moduloForm.valid">Crea</button>
  </mat-dialog-actions>
</div>
