.progress-container ::ng-deep.table{

    .body,.header{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5rem;

        &:first-child{
            position: relative;
            left: .5px;
        }
    }
     
    .header{
        &:last-child{
            position: relative;
            right: .5px;
        }
    }
}