input.search-bar{
    border-radius: 6px;
    border: 1px solid #e6e6e69f;
    background: #F6FAFD;
    padding-left: 1rem;

    // &:focus, &:focus:hover{
    //     border: 1px solid rgba(134, 186, 238, 0.74);
    // }

    // &:hover{
    //     border: 1px solid rgba(195, 225, 255, 0.852);
    // }
}