.search-dropdown-container{
    border-radius: 4px;

    #select{
        cursor: pointer;

        ul{
            list-style: none;
            border-radius: 4px;
           
            li {
                padding: 10px 20px;
                cursor: pointer;
            }
        }
    }

    input{
        padding: 10px 25px;
        border: none;
        outline: none;
    }
}
