<div class="main-container">
    <!-- Horizontal header -->
    <div class="app-horizontal-header horizontal-header"></div>

    <!-- Hamburger button -->
    <div class="app-hamburger-button hamburger-button"></div>
    
    <!-- Side navbar (mobile) -->
    <div class="app-side-navbar side-nav-container"></div>
    
    <!-- Vertical navbar -->
    <div class="app-vertical-navbar vertical-nav"></div>

    <!-- Page content -->
    <div class="page-content">
        <router-outlet></router-outlet>
    </div>
</div>
