<ng-container>

    <!-- Headers -->
    <ng-template [ngIf]="(isAuthenticated && authInfo?.payload?.role?.toString() == 'STUDENTE') && (index === 0 && !loading)">
        <div [ngClass]="['tipo','header']">{{activity?.studenteActivity?.tipo}}</div>
        <div [ngClass]="['corso', 'header']">{{activity?.studenteActivity?.corso}}</div>
        <div [ngClass]="['data', 'header']">{{activity?.studenteActivity?.data}}</div>
        <div [ngClass]="['dettaglio', 'header']">{{activity?.studenteActivity?.dettaglio}}</div>
    </ng-template>

    <ng-template [ngIf]="(isAuthenticated && authInfo?.payload?.role?.toString() == 'DOCENTE') && (index === 0 && !loading)">
        <div [ngClass]="['corso','header']">{{activity?.docenteActivity?.corso}}</div>
        <div [ngClass]="['sessione', 'header']">{{activity?.docenteActivity?.sessione}}</div>
        <div [ngClass]="['data', 'header']">{{activity?.docenteActivity?.data}}</div>
        <div [ngClass]="['correzione', 'header']">{{activity?.docenteActivity?.correzione}}</div>
    </ng-template>

    <!-- Animazione di caricamento -->
    <ng-template [ngIf]="index === 0 && loading">
        <div [ngClass]="['loading-bar']">
            <div class="wrapper">
                <div class="load-pointer"></div>
            </div>
        </div>
    </ng-template>

    <!-- Body -->
    <ng-template [ngIf]="(isAuthenticated && authInfo?.payload?.role?.toString() == 'STUDENTE') && (index > 0 && (loading === undefined || !loading))">
        <div [ngStyle]="{'border-bottom-left-radius': isLastRow! ? '8px' : '0', 'border-bottom': isLastRow == true ? 'none' : '1px solid #E6E6E6'}" [ngClass]="['tipo','body']">{{activity?.studenteActivity?.tipo}}</div>
        <div [ngStyle]="{'border-bottom': isLastRow == true ? 'none' : '1px solid #E6E6E6'}" [ngClass]="['corso', 'body']">{{activity?.studenteActivity?.corso}}</div>
        <div [ngStyle]="{'border-bottom': isLastRow == true ? 'none' : '1px solid #E6E6E6'}" [ngClass]="['data', 'body']">{{activity?.studenteActivity?.data}}</div>
        <div [ngStyle]="{'border-bottom-right-radius': isLastRow! == true ? '8px' : '0', 'border-bottom': isLastRow == true ? 'none' : '1px solid #E6E6E6'}" [ngClass]="['dettaglio', 'body']">{{activity?.studenteActivity?.dettaglio}}</div>
    </ng-template>

    <ng-template [ngIf]="(isAuthenticated && authInfo?.payload?.role?.toString() == 'DOCENTE') && (index > 0 && (loading === undefined || !loading))">
        <div [ngStyle]="{'border-bottom-left-radius': isLastRow! ? '8px' : '0', 'border-bottom': isLastRow == true ? 'none' : '1px solid #E6E6E6'}" [ngClass]="['corso','body']">{{activity?.docenteActivity?.corso}}</div>
        <div [ngStyle]="{'border-bottom': isLastRow == true ? 'none' : '1px solid #E6E6E6'}" [ngClass]="['sessione', 'body']">{{activity?.docenteActivity?.sessione}}</div>
        <div [ngStyle]="{'border-bottom': isLastRow == true ? 'none' : '1px solid #E6E6E6'}" [ngClass]="['data', 'body']">{{activity?.docenteActivity?.data}}</div>
        <div [ngStyle]="{'border-bottom-right-radius': isLastRow! == true ? '8px' : '0', 'border-bottom': isLastRow == true ? 'none' : '1px solid #E6E6E6'}" [ngClass]="['correzione', 'body']">{{activity?.docenteActivity?.correzione}}</div>
    </ng-template>

</ng-container>
