.pagination-container{

    .page-size-container{
        p.label{
            color: #BDBDBD;
            font-family: Mulish;
            font-size: 9px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.72px;
        }
    }

    .page-numbers-container{
        color: #BDBDBD;
        font-family: Mulish;
        font-size: 9px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.72px;
    }
}