.pagination-container div.page-size-container ::ng-deep.items{
   
    #select{
       p,li{
        font-family: Mulish;
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: 17px; /* 170% */
        letter-spacing: 0.14px;
       }
    }
}
