.pagination::ng-deep.pagination-container{

    & div.page-size-container ::ng-deep{
        p.label{
            color: $violet !important;
        }

        & ::ng-deep.items #select{
            p, li{ 
                font-family: Poppins !important;
                color: $violet !important; 
            } 
            
        }
    }

    & div.page-numbers-container{
        .page-number{
            color: $violet;
            .current-page{
                font-family: Poppins;
                font-weight: 600;
            }
            .total-page{
                font-family: Poppins;
                font-weight: 600;
            }
        }
    }   
}
