<div class="course-container" [formGroup]="courseFilter">
   <!-- TITOLO CONDIZIONATO -->
   <div *ngIf="isAuthenticated && authInfo?.payload?.role?.toString() == 'STUDENTE'" class="title-container">I miei corsi</div>
   <div *ngIf="isAuthenticated && authInfo?.payload?.role?.toString() == 'DOCENTE'" class="title-container">I miei corsi</div>
   <div *ngIf="isAuthenticated && authInfo?.payload?.role?.toString() == 'ADMIN'" class="title-container">Tutti i corsi</div>
   
   <app-search-bar formControlName="like" [ngClass]="'course-search-bar'"></app-search-bar>
   <div 
      class="app-table-v2 table-container"
      [@openClose] = "hideTable ? 'close' : 'open'"
      [columnsTemplate]="authInfo?.payload?.role?.toString() == 'STUDENTE' ? ['Corso','2fr','Sessioni','1fr','Moduli','1fr'] : (authInfo?.payload?.role?.toString() == 'DOCENTE' ? ['Corso','2fr','Sessioni','1fr','Studenti','1fr']: ['Corso','2fr','Sessioni','1fr','Studenti','1fr'])"
      [rowType]="rowType"
      [modelTableMapper]="courseTableMapper">
   </div>
</div>