.course-container{
    background-color: $backgroud-color;
    border: 1px solid $border-color;
    border-radius: 30px;
    padding-top: $page-containers-padding-top;
    padding-left: $page-containers-padding-left;
    padding-right: $page-containers-padding-left;
}

