.activity-container{
    .title-container{
        color: $black;
        font-family: Mulish;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.92px;
    }
}
