.activity-container ::ng-deep.table{

    .header{
        color: #C45A01;
        font-family: Poppins;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}