// COLORS
$lilac: #ECECFF;
$violet: #4D55DA;
$detail-active-color: #363db8;
$detail-hover-color: #7d83f8;
$remove-icon-active: $white;
$remove-active-color: rgb(210, 17, 17);
$remove-hover-color: #f93333;
$search-hover-color: #e3e3fb;
$search-active-color: #d8d8f1;
$reset-active-color: #282ea8;
$reset-hover-color: $violet;


