 ::ng-deep.search-dropdown-container{
    background-color: $rosa;
    border-radius: $border-radius-search-dropbox-bar !important;
    border: 1px solid #E6E6E6;
   
    #select{
        color: $rosso;
        ul{ background: $rosa; }
    }

    input{ 
        border-top: 1px solid #E6E6E6 !important;
        border-bottom: 1px solid #E6E6E6 !important;
        border-left: 1px solid #E6E6E6 !important;
        background-color: $white; 
        border-bottom-right-radius: $border-radius-search-dropbox-bar;
        border-top-right-radius: $border-radius-search-dropbox-bar;
    }
}
