<input type="file" class="file-input" accept=".doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,.pdf"
       (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">

    {{fileName || default}}

    <button class="upload-btn" (click)="uploadFile()" *ngIf="!fileName">
        <mat-icon class="attach-icon" >attach_file</mat-icon>
    </button>
 
    <div class="progress" [style]="{display: 'flex', alignItems:'center', marginLeft: '1rem'}">
        <mat-progress-spinner class="progress-bar" mode="determinate" [value]="uploadProgress" [diameter]="22" *ngIf="uploadProgress"> </mat-progress-spinner>
        <mat-icon class="cancel-upload" (click)="cancelUpload()" [style]="{transform: 'scale(0.8)', color: 'red', cursor: 'pointer'}" *ngIf="isCancelable && fileName">delete_forever</mat-icon>
    </div>

</div>