<div class="progress-container">
    <div class="title">Progressi</div>

    <div class="user-form">
        <div class="form-title">Dati studente</div>
        <div class="form" [formGroup] = "userFilter">
            <input [ngClass]="isAuthenticated && authInfo?.payload?.role?.toString() == 'STUDENTE' ? 'disabled' : ''" [readonly]="isAuthenticated && authInfo?.payload?.role?.toString() == 'STUDENTE'" class="search-bar" type="text" placeholder="Nome" formControlName="nome">
            <input [ngClass]="isAuthenticated && authInfo?.payload?.role?.toString() == 'STUDENTE' ? 'disabled' : ''" [readonly]="isAuthenticated && authInfo?.payload?.role?.toString() == 'STUDENTE'" class="search-bar" type="text" placeholder="Cognome" formControlName="cognome">
            <input [ngClass]="isAuthenticated && authInfo?.payload?.role?.toString() == 'STUDENTE' ? 'disabled' : ''" [readonly]="isAuthenticated && authInfo?.payload?.role?.toString() == 'STUDENTE'" class="search-bar" type="text" placeholder="Codice fiscale" formControlName="codiceFiscale">
            <input style="visibility: hidden;" class="search-bar" type="text">
        </div>
    </div>

    <div class="course-form">
        <div class="form-title">Dati corso</div>
        <div class="form" [formGroup] = "courseFilter">
            <div [ngStyle]="{'margin-right':'3rem'}" class="app-select-bar" [options]="['Corso']" formControlName="corso"></div>
            <div class="app-select-bar" [options]="['CUP']" formControlName="sessione"></div>
            <input [ngStyle]="{'transform':'translateX(3rem)'}" class="search-bar classe-associata disabled" type="text" placeholder="Classe associata" disabled="true">
            <input style="visibility: hidden;" class="search-bar" type="text">
        </div>
    </div>

    <div class="activity-form">
        <div class="form-title">Dati attività</div>
        <div class="form" [formGroup] = "activityFilter">
            <input class="search-bar" type="text" placeholder="Attività" formControlName="attivita">
            <app-datepicker class="date" [placeholder]="'Da'" formControlName="dataDa"></app-datepicker>
            <app-datepicker class="date" [placeholder]="'A'" formControlName="dataA"></app-datepicker>
            <div class="checkbox-wrapper">
                <app-checkbox-v2 class="checkbox" [label]="'FAD'" formControlName="fad"></app-checkbox-v2>
                <app-checkbox-v2 class="checkbox" [label]="'DAD'" formControlName="dad"></app-checkbox-v2>
            </div>
        </div>
    </div>

    <div class="control-button-container">
        <app-reset-filter-button [onClick]="resetFilter" [label]="'Azzera filtri'" class="reset-button-container"></app-reset-filter-button>
        <app-search-button [onClick]="submitForms" [label]="'Cerca'" class="search-button-container"></app-search-button>
    </div>


    <div class="app-table-v2 table" 
         [@openClose] = "hideTable ? 'close' : 'open'"
         [columnsTemplate]="['selector','.5fr','nome','1fr','cognome','1fr','codice-fiscale','1fr','attivita','1fr','tipo','1fr','data','1fr','ora-inizio','1fr','ora-fine','1fr','completata','1fr']" 
         [modelTableMapper]="progressTableMapper"
         [rowType]="rowType"
         [onEvent]="onSelectedRow"> 
    </div>

    <app-pagination [@openClose] = "hidePagination ? 'close' : 'open'" class="pagination"  [pageSize]="pageSize" [pageSizeOptions]="[3,5,10]" (onPageChange)="handlePaginationChange($event)">
    </app-pagination>

    <div #opButtons [@openClose] = "hideOperationButton? 'close' : 'open'" id="buttons" class="container">
        <button (click)="getCustomReport()" [ngClass]="rowSelected.length > 0 ? 'enable' : 'disable'" class="report-btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 28">
                <path d="M0.5 0.285645V27.7142H24.5V13.9999H10.7857V0.285645H0.5ZM14.2143 0.285645V10.5714H24.5L14.2143 0.285645Z"/>
            </svg>
            <p>Report personalizzato</p>
        </button>
        <button (click)="getDailyReport()" [ngClass]="rowSelected.length > 0 ? 'enable' : 'disable'" class="report-btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 28">
                <path d="M0.5 0.285645V27.7142H24.5V13.9999H10.7857V0.285645H0.5ZM14.2143 0.285645V10.5714H24.5L14.2143 0.285645Z"/>
            </svg>
            <p>Report giornaliero</p>
        </button>
        <button (click)="applicaTutoraggio()" [ngClass]="rowSelected.length > 0 ? 'enable' : 'disable'" class="report-btn applica-tutoraggio">
            <p>Applica tutoraggio</p>
        </button>
    </div>
</div>
