<div *ngIf="progress == null" class="main-container" style="display: flex; flex-direction: column; margin-right: 2rem; row-gap: 3rem; margin-left: 2rem;">

    <div class="title" style="flex-basis: 100%; margin-bottom: 2.5rem;">{{sessionDetails?.nomeCorso}} - Sessione del {{sessionDetails?.dataSessione}}</div>
    <div class="info" style="flex-basis: 100%; margin-bottom: 2.5rem; display: flex;  column-gap: 2rem; flex-wrap: wrap;">
        <div style="display: flex; align-items: center;"><h2 style="margin-right: 1rem;">Partecipanti:</h2> {{sessionDetails?.numeroIscritti}}</div>
    </div>

    <div class="upload-container" *ngIf="(isAuthenticated && authInfo?.payload?.role?.toString() == 'STUDENTE')">
        upload prova
    </div>

    <div class="prove-tree-container" *ngIf="(isAuthenticated && authInfo?.payload?.role?.toString() == 'DOCENTE')">
        <mat-tree style="background-color: transparent;" [dataSource]="dataSource" [treeControl]="treeControl">
            <!-- This is the tree node template for leaf nodes -->
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
              <!-- use a disabled button to provide padding for tree leaf -->
              <button mat-icon-button disabled></button>
              @if(node.file){
                <mat-icon style="transform: scale(0.8); margin-left: 0; margin-right: 0.5rem;">insert_drive_file</mat-icon>{{node.file}}
              } @else {
                <p style="color: #9b9b9b">Nessun allegato presente</p>
              }
             </mat-tree-node>
            <!-- This is the tree node template for expandable nodes -->
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
              <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'Toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
                {{node.name}} 
                <select (change)="onInserimentoVoto($event, node)" style="margin-left: 2rem;">
                    <option value="">--Inserisci un voto--</option>
                    <option *ngFor="let voto of createRangeVoto(16, 30)">{{voto}}</option>
                    <option>30L</option>
                </select>
            </mat-tree-node>
        </mat-tree>
    </div>

    <div class="correzione-container" *ngIf="(isAuthenticated && authInfo?.payload?.role?.toString() == 'DOCENTE')">
        <button mat-button  disabled>Termina esame</button> 
    </div>
    
</div>

 <!-- Progress spinner -->
 <app-loading *ngIf="progress" [indeterminate]="true" [progress]="progress"></app-loading>
