button.upload-btn{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2rem;
    border: none;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}