.control-button-container .search-button-container::ng-deep{
    &.active{
        background-color: $lilac;
        svg{ fill: $violet; }
        &:hover{ background-color: $search-hover-color; }
        &:active{ background-color: $search-active-color;}
    }
}